@model NewApiResourceScopeViewModel
<tr>
    <td class="table-input">
        <input type="text" class="form-control" asp-for="ScopeName">
    </td>
    <td class="table-input">
        <input type="text" class="form-control" asp-for="ScopeDisplayName">
    </td>
    <td class="table-input">
        <input type="text" class="form-control" asp-for="ScopeDescription">
    </td>
    <td class="table-input">
        <input type="checkbox" asp-for="ScopeRequired">
    </td>
    <td class="table-input">
        <input type="checkbox" asp-for="ScopeEmphasize">
    </td>
</tr>