@model ApiResourcesViewModel

@{
    ViewData["Title"] = "API Resources";
}

<div class="page-header">
    <h3>API Resources</h3>
</div>
@if (Model.ApiResources.Count == 0)
{
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="alert alert-light">
                There is no API Resources available.
            </div>
        </div>
        <div class="col-sm-12">
            <a class="btn btn-success pull-right"
                asp-controller="ApiResources"
                asp-action="New">Add API Resource</a>
        </div>
    </div>
}
else
{

}
