<nav class="navbar navbar-expand-md navbar-dark bg-dark small">
  <h3><a class="navbar-brand"
       routerLink="">{{ appName }}</a></h3>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-md-column"
       id="navbarCollapse">
    <div class="d-flex justify-content-between w-100">
      <div class="form-inline m-auto w-50">
        <app-search class="input-group input-group-sm w-100 py-2"></app-search>
      </div>
      <div *ngIf="isLoggedIn$ | async">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link"
               (click)="logout()"
               href="#">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row w-100">
      <div class="navbar-expand mr-auto">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link py-1"
               routerLink="/product"
               routerLinkActive="active">Trendings
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-1"
               routerLink="/deals"
               routerLinkActive="active">Today Deals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-1"
               routerLink="/biddings"
               routerLinkActive="active">Hot Biddings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-1"
               routerLink="/sell"
               routerLinkActive="active">Sell</a>
          </li>
        </ul>
      </div>
      <div class="navbar-expand ml-auto">
        <div class="navbar-nav">
          <a class="nav-item nav-link"
             href="#">
            <i class="fa fa-shopping-cart"></i>
            {{ itemCounter }} item(s) - {{ totalPrice }}
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>