<div class="row d-flex wrapper">
  <div class="overlay"></div>
  <div class="row h-100 w-100 justify-content-center m-auto">
    <div [ngClass]="{'col-12 col-sm-10 col-md-8 col-lg-7 col-xl-5': !fixedNavbar, 'fixed-wrapper': fixedNavbar}">
      <div class="card card-sm"
           [ngClass]="{'col-10 col-md-8 col-lg-6 col-xl-4 p-0': fixedNavbar}">
        <div class="card-body row no-gutters align-items-center">
          <div class="col pl-2">
            <input #box
                   class="form-control form-control-borderless"
                   [ngClass]="{'form-control-lg': !fixedNavbar, 'form-control-sm': fixedNavbar}"
                   [placeholder]="searchPlaceHolder"
                   (keyup.enter)="search(box.value)">
          </div>
          <div class="col-auto">
            <button class="btn"
                    [ngClass]="{'btn-light btn-lg': !fixedNavbar, 'btn-secondary btn-sm': fixedNavbar}"
                    (click)="search(box.value)">Sell it!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>