<div class="bg-white border m-0 py-3 rounded row">
  <div class="col-12">
    <h5>Best Sellers <span class="small px-3"><a href="#">See more books</a></span></h5>
    <div id="bookBestSellers"
         class="carousel slide mt-3"
         data-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-sm"><img class="d-block w-100"
                   src="//placehold.it/1600x1200/444"
                   alt="1 slide"></div>
            <div class="col-sm"><img class="d-block w-100"
                   src="//placehold.it/1600x1200/ccff00"
                   alt="2 slide"></div>
            <div class="col-sm"><img class="d-block w-100"
                   src="//placehold.it/1600x1200/444"
                   alt="1 slide"></div>
            <div class="col-sm"><img class="d-block w-100"
                   src="//placehold.it/1600x1200/ccff00"
                   alt="2 slide"></div>
            <div class="col-sm"><img class="d-block w-100"
                   src="//placehold.it/1600x1200"
                   alt="3 slide"></div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-sm"><img class="d-block w-100"
                   src="//placehold.it/1600x1200/444"
                   alt="1 slide"></div>
            <div class="col-sm"><img class="d-block w-100"
                   src="//placehold.it/1600x1200/ccff00"
                   alt="2 slide"></div>
            <div class="col-sm"><img class="d-block w-100"
                   src="//placehold.it/1600x1200/ccff00"
                   alt="4 slide"></div>
            <div class="col-sm"><img class="d-block w-100"
                   src="//placehold.it/1600x1200/444"
                   alt="5 slide"></div>
            <div class="col-sm"><img class="d-block w-100"
                   src="//placehold.it/1600x1200/ddd"
                   alt="6 slide"></div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev"
         href="#bookBestSellers"
         role="button"
         data-slide="prev">
        <i class="fa fa-chevron-left fa-lg text-muted"></i>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next text-faded"
         href="#bookBestSellers"
         role="button"
         data-slide="next">
        <i class="fa fa-chevron-right fa-lg text-muted"></i>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>