<div class="container welcome-page pt-sm-3">
    <div class="row page-header">
        <div class="col-md-10 mb-3">
            <h1 class="border-bottom pb-2">
                <img class="icon" src="~/icon.jpg" height="50px">&#xA0;&#xA0;
                Welcome to Identity Server
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <p>
                Identity Server publishes a <a href="~/.well-known/openid-configuration">discovery document</a>
                where
                you can find metadata and links to all the endpoints, key material, etc.
            </p>
        </div>
        <div class="col-md-10">
            <p>Click <a href="~/grants">here</a> to manage your stored grants.</p>
        </div>
    </div>
</div>