@{
    ViewData["Title"] = "Access Denied";
}

<div class="page-header">
    <h1>
        Access Denied<br />
        <small>You don't have the permission for this page.</small>
    </h1>
</div>
<div>
    Click <a href="/">here</a> to return to the homepage.
</div>