<div class="container page-header">
    <h3>

        Access Denied<br>

        <small class="text-muted">You don&apos;t have the permission for this page.</small>

    </h3>
</div>
<div>Click <a asp-controller="Home" asp-action="Index">here</a> to return to the homepage.</div>