@model RegisterViewModel
<div class="login-page">
    <div class="page-header">
        <h1>Register</h1>
    </div>
    @Html.Partial("_ValidationSummary")
    <div class="row">
        @if (Model.EnableLocalLogin)
        {
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Information</h3>
                    </div>
                    <div class="panel-body">
                        <form asp-route="Register" class="form-horizontal">
                            <input type="hidden" asp-for="ReturnUrl" />
                            <fieldset>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label asp-for="FirstName" class="col-md-5 col-sm-4 control-label"></label>
                                        <div class="col-md-7 col-sm-8">
                                            <input class="form-control" placeholder="First Name" asp-for="FirstName" autofocus>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label asp-for="LastName" class="col-md-5 col-sm-4 control-label"></label>
                                        <div class="col-md-7 col-sm-8">
                                            <input class="form-control" placeholder="Last Name" asp-for="LastName">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label asp-for="Username" class="col-md-5 col-sm-4 control-label"></label>
                                        <div class="col-md-7 col-sm-8">
                                            <input class="form-control" placeholder="Username" asp-for="Username">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label asp-for="Email" class="col-md-5 col-sm-4 control-label"></label>
                                        <div class="col-md-7 col-sm-8">
                                            <input type="email" class="form-control" placeholder="Email Address" asp-for="Email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label asp-for="Password" class="col-md-5 col-sm-4 control-label"></label>
                                        <div class="col-md-7 col-sm-8">
                                            <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label asp-for="ConfirmPassword" class="col-md-5 col-sm-4 control-label"></label>
                                        <div class="col-md-7 col-sm-8">
                                            <input type="password" class="form-control" placeholder="Password Confirmation" asp-for="ConfirmPassword" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <button class="btn btn-success" name="button" value="register">Register</button>
                                    <button class="btn btn-default" name="button" value="cancel">Cancel</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="alert alert-warning">
                <strong>Invalid register request</strong>
                There are no local login scheme configured for this client.
            </div>
        }
    </div>
</div>