<div class="card bg-white border-white">
  <div class="card-body">
    <h4 class="card-title">Some Title</h4>
    <div class="text-center">
      <img src="https://images-na.ssl-images-amazon.com/images/G/01/kindle/merch/2018/OrionandLunar/Orion/GW/Desktop_Gateway_DashCard_SUC_260x260._CB484193144_SY260_.jpg"
           width="100%">
    </div>
    <div class="content">
      <p>
        The all-new Ring Stick Up Cam. Smart security, simple setup, indoors or out.
      </p>
      <a href="#">See details</a>
    </div>
  </div>
</div>