<div class="row d-flex wrapper">
  <div class="overlay"></div>
  <div class="row h-100 w-100 justify-content-center m-auto">
    <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-5">
      <div class="card card-sm">
        <div class="card-body row no-gutters align-items-center">
          <div class="col pl-2">
            <input class="form-control form-control-lg form-control-borderless d-none d-sm-block"
                   placeholder="Enter keywords or the UPC/ISBN #">
            <input class="form-control form-control-lg form-control-borderless d-block d-sm-none"
                   placeholder="Product keywords">
          </div>
          <div class="col-auto">
            <button class="btn btn-lg btn-light">Sell it!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>