<div class="card-body">
  <h4 class="card-title text-center">Join {{ appName }}'s family</h4>
  <p class="text-center">Sign up to get best deals and bring value to your home!</p>
  <div class="form-row align-items-center"
       [formGroup]="formGroup">
    <div class="form-group col-12">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-user"></i>
          </div>
        </div>
        <input type="text"
               class="form-control"
               placeholder="Username"
               formControlName="Username"
               (keyup.enter)="onSubmit()">
      </div>
    </div>
    <div class="form-group col-12 mb-3">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-lock"></i>
          </div>
        </div>
        <input type="password"
               class="form-control"
               placeholder="Password"
               formControlName="Password"
               (keyup.enter)="onSubmit()">
      </div>
    </div>
    <div class="form-group col-12 mb-3"
         [customErrorMessages]="customErrorMessages">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-check-circle"></i>
          </div>
        </div>
        <input type="password"
               class="form-control"
               validateEqual="password"
               placeholder="Password Verification"
               formControlName="PasswordVerification"
               (keyup.enter)="onSubmit()">
      </div>
    </div>
    <div class="col-6"><button type="button"
              class="btn btn-block"
              [ngClass]="formGroup.valid ? 'btn-outline-success' : 'btn-outline-secondary'"
              (click)="onSubmit()"
              [disabled]="!formGroup.valid">Sign Up</button></div>
    <div class="col-6"><button type="button"
              class="btn btn-outline-primary btn-block"
              (click)="onLogIn()">Log In</button></div>
  </div>
</div>