<div class="container py-3">
  <div class="row">
    <div class="col-12 page-header text-center">
      <h2>Promotions</h2>
    </div>
    <div class="col-12 col-lg-8 m-auto">
      <nav>
        <div class="nav nav-tabs"
             role="tablist">
          <a class="nav-item nav-link active mr-2"
             id="nav-seller-promo-active-tab"
             data-toggle="tab"
             href="#nav-seller-promo-active"
             role="tab"
             aria-controls="nav-seller-promo-active"
             aria-selected="true">Active (5)</a>
          <a class="nav-item nav-link mr-2"
             id="nav-seller-promo-history-tab"
             data-toggle="tab"
             href="#nav-seller-promo-history"
             role="tab"
             aria-controls="nav-seller-promo-history"
             aria-selected="false">History (2)</a>
        </div>
      </nav>
      <div class="tab-content">
        <div class="tab-pane fade show active"
             id="nav-seller-promo-active"
             role="tabpanel"
             aria-labelledby="nav-seller-promo-active-tab">
          <div class="card p-3 mt-2">
            Active
          </div>
          <div class="card p-3 mt-2">
            Active
          </div>
          <div class="card p-3 mt-2">
            Active
          </div>
          <div class="card p-3 mt-2">
            Active
          </div>
          <div class="card p-3 mt-2">
            Active
          </div>
        </div>
        <div class="tab-pane fade"
             id="nav-seller-promo-history"
             role="tabpanel"
             aria-labelledby="nav-seller-promo-history-tab">
          <div class="card p-3 mt-2">
            History
          </div>
          <div class="card p-3 mt-2">
            History
          </div>
        </div>
      </div>
    </div>
  </div>
</div>